<div class="form-group formBox">
    <label class="inputLabel" for="{{ checkPoint['alias'] }}">{{ checkPoint['label'] }}</label>
    <input type="date" id="datepicker_justDate" class="form-control" name="{{ checkPoint['alias'] }}" placeholder="Vyberte datum" value="{% if memData[checkPoint['alias']] is defined %}{{ memData[checkPoint['alias']] }}{% endif %}">
</div>